In [1]:
#import dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func ,inspect
import psycopg2
from config import password

In [5]:
#create connection
engine = create_engine(f"postgresql+psycopg2://postgres:{password}@localhost:5433/IMDB")

In [6]:
# reflect an existing database into a new model
# reflect the tables
Base = automap_base()
Base.prepare(autoload_with=engine)

In [7]:
# list the tables in the database
columns = Base.classes.keys()

In [8]:
# see the datatypes and column names in tables for reference and creatinf queries
for each in columns:
    inspector = inspect(engine)
    table_names = inspector.get_columns(each)
    print(f"\n{each}")
    for c in table_names:
        print(c['name'], c["type"])

title
title_id INTEGER
title VARCHAR(200)

imdb_top_250
imdb_title_id INTEGER
title_id INTEGER
rank INTEGER
years_running VARCHAR(200)
certificate VARCHAR(20)
rating DOUBLE_PRECISION
votes INTEGER
Synopsis VARCHAR(1000)

category
category_id INTEGER
category VARCHAR(100)

award
award_id INTEGER
award VARCHAR(100)

nomination
nomination_id INTEGER
award_id INTEGER
year INTEGER
title_id INTEGER
actor_id INTEGER
network_id INTEGER
category_id INTEGER
role VARCHAR(100)
episode VARCHAR(200)
producers VARCHAR(1000)
winner BOOLEAN

actor
actor_id INTEGER
actor VARCHAR(200)

network
network_id INTEGER
network VARCHAR(20)

In [9]:
# Save references to each table
title = Base.classes.title
imdb_top_250 = Base.classes.imdb_top_250
category = Base.classes.category
award = Base.classes.award
nomination = Base.classes.nomination
actor = Base.classes.actor
network = Base.classes.network

In [10]:
#create session
session = Session(engine)

In [11]:
# Create a query to get results based on the TV show and get actors name as well as year won
result = session.query(title.title,nomination.year,actor.actor,award.award).\
filter(imdb_top_250.title_id == title.title_id).\
filter(title.title_id == nomination.title_id).\
filter(actor.actor_id == nomination.actor_id).\
filter(award.award_id == nomination.award_id).\
filter(title.title =='Breaking Bad').\
filter(nomination.winner==True).all()

In [12]:
import pandas as pd
query_result = pd.DataFrame(result)

In [13]:
query_result

          title  year           actor                         award
0  Breaking Bad  2010  Bryan Cranston          Best Lead Actor Male
1  Breaking Bad  2014  Bryan Cranston          Best Lead Actor Male
2  Breaking Bad  2010      Aaron Paul    Best Supporting Actor Male
3  Breaking Bad  2012      Aaron Paul    Best Supporting Actor Male
4  Breaking Bad  2014      Aaron Paul    Best Supporting Actor Male
5  Breaking Bad  2013       Anna Gunn  Best Supporting Actor Female
6  Breaking Bad  2014       Anna Gunn  Best Supporting Actor Female

In [37]:
#query to get the results based on actor
query_2 = session.query(title.title,nomination.year,actor.actor,award.award,category.category,imdb_top_250.rank,imdb_top_250.rating).\
filter(imdb_top_250.title_id == title.title_id).\
filter(title.title_id == nomination.title_id).\
filter(actor.actor_id == nomination.actor_id).\
filter(award.award_id == nomination.award_id).\
filter(category.category_id == nomination.category_id).\
filter(actor.actor =='Zendaya').\
filter(nomination.winner==True).all()

In [38]:
query_2 = pd.DataFrame(query_2)

In [39]:
query_2

      title  year    actor                   award category  rank  rating
0  Euphoria  2020  Zendaya  Best Lead Actor Female    Drama   138     8.3
1  Euphoria  2022  Zendaya  Best Lead Actor Female    Drama   138     8.3